{% extends 'base_main.html' %}
{% load static %}
{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/market/market.css' %}">
{% endblock %}

{% block EXTJS %}
    <script type="text/javascript" src="{% static 'app/market/js/market.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/common/common1.js' %}"></script>
{% endblock %}


{% block content %}

    <div id="market">

        <aside>

            <ul>

                <!--闪购分类展示-->
                {% for foodtype in foodtypes %}
                    <li>
                        <!--链接地址，点击获取分类下的商品信息-->
                      <a href="/users/fenlei/{{ foodtype.typeid }}/0/0/">{{ foodtype.typename }}</a>
                        {% ifequal foodtype.typeid typeid %}
                      <span class="yellowSlide"></span>
                        {% endifequal %}


                    </li>
                {% endfor %}
                <!--处理数据结束-->

            </ul>

        </aside>


        <section>
            <nav>
                <ul>
                    <li id="all_types"><span>{{ list1_name }}<span id="all_type_logo" class="glyphicon glyphicon-chevron-down"></span></span></li>
                    <li id="sort_rule"><span>{{ list_name }}<span id="sort_rule_logo" class="glyphicon glyphicon-chevron-down"></span></span></li>
                </ul>
            </nav>

            <menu>
                <ul>

                    <!--商品信息展示-->
                    {% for good in goods %}
                        <li>
                            <a href="#">
                                <img src="{{ good.productimg }}" alt="">
                                <div class="shoppingInfo">
                                    <h6>{{ good.productlongname }}</h6>
                                    <p class="detailTag">
                                        <span>精选</span>
                                        <span>{{ good.specifics }}</span>
                                    </p>
                                    <p class="unit">

                                    </p>
                                    <p class="price">
                                        <span>¥{{ good.price }}</span>
                                        <s>¥{{ good.marketprice }}</s>
                                    </p>
                                </div>
                            </a>
                        <section>
                            {% csrf_token %}
                            <button onclick="subnum({{ good.id }})" class="subShopping1">-</button>
                            <span id="num_{{ good.id }}">
                                {% if user.id %}
                                {% if good.cartmodel_set.first.c_num %}
                                {{ good.cartmodel_set.first.c_num }}
                                {% else %}
                                {{ 0 }}
                                {% endif %}
                                {% else %}
                                {{ 0 }}
                                {% endif %}
                            </span>
                            <button onclick="addnum({{ good.id }})"  class="addShopping1">+</button>
                        </section>
                        </li>
                    {% endfor %}
                    <!--处理数据结束-->
                </ul>

                <div id="all_types_container">
                    <div>
                        <!--加载全部分类的数据-->
                        {% for k,v in ms.items %}
                            <a href="/users/fenlei/{{ typeid }}/0/{{ k }}/">
                                <span>{{ v }}</span>
                            </a>
                        {% endfor %}
                        <!--处理数据结束-->


                    </div>
                </div>


                <div id="sort_container">
                    <div>
{#      排序传递的也是状态码   0 , 1 ,2  , 3 ,4 ,5...                    #}
                        <a href="/users/{{ path }}/4/{{ k }}/">
                            <span>综合排序</span>
                        </a>
                        <a href="/users/{{ path }}/3/{{ k }}/">
                            <span>销量排序</span>
                        </a>
                        <a href="/users/{{ path }}/1/{{ k }}/">
                            <span>价格降序</span>
                        </a>
                        <a href="/users/{{ path }}/2/{{ k }}/">
                            <span>价格升序</span>
                        </a>

                    </div>
                </div>

            </menu>

        </section>


    </div>


{% endblock %}