{% extends 'base.html' %}
{% load static %}

{% block EXTJS %}
    <script type="text/javascript" src="{% static 'app/order/js/order.js' %}"></script>
{% endblock %}

{% block content %}

    <div id="order_info" class="container">

    <!--订单编号-->

    <h3>订单编号:{{ id }}</h3>

    <!--处理结束-->
    <ul>

        <!--所有订单信息展示-->
            {% for ordergood in ordergoods %}
            <li>
                <!--商品名称展示-->
                <img src="{{ ordergood.goods.productimg }}">

                <span> <!-- 数量展示 --> 数量:{{ ordergood.goods_num }}</span>
            </li>
            {% endfor %}
        <!--订单处理结束-->
            <h1>总计: ¥{{ totalprice }}</h1>
    </ul>
        <!--订单id展示-->
        <button id="alipay" class="btn btn-success btn-block" onclick="window.location.href='/users/alipay/{{ id }}/'">Alipay</button>

    </div>


{% endblock %}